@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sam's Store</h1>
    <p class="lead">Sam's Store.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sam's Store
        </p>
        
    </div>
    
</div>